body {
  background: linear-gradient(
    99deg,
    rgb(255, 166, 0) 14.7%,
    rgb(255, 99, 97) 73%
  );
}

header {
  border-bottom: 1px solid #ff9717;
  padding: 30px;
}

.app {
  background: #ffffff;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 10px;
  padding: 30px;
  font-family: sans-serif;
}

.app-input {
  padding: 15px;
  width: 75%;
  background: linear-gradient(
    99deg,
    rgb(255, 166, 0) 14.7%,
    rgb(255, 99, 97) 73%
  );
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
}

.app-button {
  padding: 15px;
  background: rgb(255, 99, 97) 73%;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  margin: 5px;
}

h2 {
  font-size: 60px;
  display: flex;
  justify-content: end;
  margin-top: -90px;
}

.app-emoji {
  margin-top: -15px;
}

strong {
  color: #ff6361;
}

footer {
  border-top: 1px solid #ff9717;
  padding: 30px;
  text-align: center;
  font-size: 14px;
}

a {
  color: #ff6361;
}
